.login-info-form {
    padding-top: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.login-info-form h1 {
    font-size: 55px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.login-info-form .campoDados {
    display: inline-block;
    padding: 40px 0px 10px 0px;
}
.login-info-form input {
    font-size: 16px;
    width: 350px;
    padding: 5px 10px;
    margin-bottom: 10px;
    border: 1px solid gray;
    border-radius: 4px;
}
.login-info-form select {
    font-size: 16px;
    width: 350px;
    padding: 5px 10px;
    margin-bottom: 10px;
    border: 1px solid gray;
    border-radius: 4px;
}
.login-info-form .registerLink {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    padding-bottom: 0.1rem;
    position: relative;
    cursor: pointer;
    color: var( --title-color);
    
}
.login-info-form .registerLink::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: var( --title-color);
    transition: 0.25s ease-out;
}
.login-info-form .registerLink:hover::before {
    width: 100%;
}
